@page "/editar-cliente/{id:int}"
@inject IHttpClientFactory ClientFactory
@inject NavigationManager Navigation

<h3>Editar Cliente</h3>

<EditForm Model="cliente" OnValidSubmit="EditarCliente" Name="EditarClienteForm">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div>
        <label>Nombre:</label>
        <InputText @bind-Value="cliente.nombre" />
    </div>
    <div>
        <label>Apellido:</label>
        <InputText @bind-Value="cliente.apellido" />
    </div>
    <div>
        <label>Correo:</label>
        <InputText @bind-Value="cliente.correo" />
    </div>
    <div>
        <label>Direccion:</label>
        <InputText @bind-Value="cliente.direccion" />
    </div>
    <div>
        <label>Telefono:</label>
        <InputText @bind-Value="cliente.telefono" />
    </div>
    <button type="submit">Guardar</button>
</EditForm>

@code {
    [Parameter] public int id { get; set; }
    private Clientes cliente = new Clientes();

    protected override async Task OnInitializedAsync()
    {
        var client = ClientFactory.CreateClient("WebApiClientes");
        cliente = await client.GetFromJsonAsync<Clientes>($"Cliente/{id}");
    }

    private async Task EditarCliente()
    {
        var client = ClientFactory.CreateClient("WebApiClientes");
        await client.PutAsJsonAsync($"Cliente/{id}", cliente);
        Navigation.NavigateTo("/clientes");
    }
}
